<!DOCTYPE html>
<html lang="en">
<head>
    <title>экология</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Dell\Desktop\code\project\globalWarming\static\css\index.css">
    <style>

        h1 {
            font-family:Impact, 'Arial Narrow Bold', sans-serif;
            font-size:x-large;
        }
        h3 {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:large;
        }
        h2 {
            text-align:left;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:large;
            width: 45%;
        }
        h4 {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:large;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; font-size:xx-large;">ЭКОЛОГИЧЕСКИЕ ПРОБЛЕМЫ И ИХ РЕШЕНИЯ</p>
    <h3>Планета Земля разрушается под воздействием человека. Повсеместно происходят катастрофы, которые меняют ее облик. К счастью, есть пути решения большинства глобальных проблем экологии.</h3>
    <h3>Cначала разберемся Что такое глобальные экологические проблемы? Экологическая проблема — это проблема, вследствие которой происходит нарушение нормального функционирования окружающей среды. Глобальные проблемы связаны с влиянием на биосферу в целом, на все экосистемы и виды на планете.</h3>
    <h1 style="text-align: center; font-size:x-large;">ПРИМЕРЫ ЭКОЛОГИЧЕСКИХ ПРОБЛЕМ</h1>
    <img src="../static/images/zavodi.jpg" alt="заводы загрязняющие воздух"
    width="800px" float:right align="right" align="top">
    <h2>1. Загрязнение воздуха, воды и почвы.
        Деятельность человека в разных областях жизни привела к тому, что отходы от нее приходится сбрасывать в воду, почву.
        Воздух загрязняется человеком посредством использования им большого количества автомобилей и промышленных производств.
        Разливы нефти, а также других токсичных жидкостей, уничтожают флору и фауну целых регионов. Например, для побережья Черного моря уже стало традиционным «летнее нефтяное пятно».
        Часто в летний период на Черном море терпит крушение нефтяной танкер, в воду сбрасывается огромное количество нефти.
        Нефтяные разливы делают воду непригодной для купания, потребления в пищу, а морских обитателей просто убивает.
    </h2>
    <h2>2. Глобальное потепление. Выбросы парниковых газов, жизнедеятельность человека влияют на изменения климата во всем мире. Каждый год Земля разогревается все сильнее, что влечет за собой таяние ледников, повышение уровня воды в океанах, резкую смену климата по всему миру. Из-за глобального потепления с лица Земли могут исчезнуть такие города как Амстердам, Басра, Новый Орлеан, Венеция. Климатическое зонирование также нарушится — под угрозой зона вечной мерзлоты в России, которая может перестать существовать из-за таяния ледников. Уничтожение вечной мерзлоты может привести к более серьезным последствиям для человека — пробуждению древних вирусов и микроорганизмов (чума, сибирская язва и т.д.).
    </h2>

    <img src="../static/images/dobicha.jpg" alt="использование природных ресурсов человеком"
    width="800px" float=left padding-right="30px"; align="left" align="top" >
    <p style = "text-align:left; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">3. Истощение природных ресурсов. Так как человек для своей деятельности использует огромное количество природных ресурсов (нефть, газ, руда), не находя новые виды источников энергии, они истощаются.
    </p>
    <p style = "text-align:left; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">4. Производство электроэнергии. Значительная доля выбросов связана с производством энергии и тепла путем сжигания ископаемых видов топлива. Бóльшая часть электроэнергии по-прежнему производится посредством сжигания угля, нефти или газа, в результате чего образуются углекислый газ и закись азота – парниковые газы, которые покрывают Землю и задерживают солнечное тепло. Во всем мире чуть более четверти электроэнергии вырабатывается за счет ветра и солнца и поступает из других возобновляемых источников, которые, в отличие от ископаемых видов топлива, почти не выделяют в атмосферу парниковых газов или загрязняющих веществ.
    </p>
    <p style = "text-align:left; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">5. Урбанизация. Разрастающиеся города — это не всегда хорошая тенденция. Пару веков назад урбанизация была важна и нужна, но в современном мире города начинают забирать территории, пригодные для сельского хозяйства (вытесняются животные и растения из мест привычного обитания). Также рост городов способствует уничтожению сел и деревень, потому что молодые люди не остаются в местах рождения, а уезжают в города для того, чтобы найти больше возможностей для реализации.
    </p>
    <img src="../static/images/les.jpg" alt="заводы загрязняющие воздух"
    width="655px" float:right align="right" align="top">
    <h2>6. Уничтожение целых биологических видов, экосистем и т.д. Браконьерство, исследование новых территорией, урбанизация приводят к тому, что многие виды растений, животных исчезают с лица Земли. Также нарушаются многие биологические процессы (например, процессы опыления).
    </h2>
    <h4>7. Вырубка лесов. Деревья являются ценным ресурсом, потому они не только используются в качестве строительного материала, но и вырабатывают кислород. Леса занимают всего 30% от всей суши, их численность с каждым годом сокращается. Не только из-за чрезмерной вырубки, но и из-за лесных пожаров.
    </h4>
    <h4>8. Окисление вод океана. Углекислый газ, который производит человек, окисляет воды океанов. По прогнозам ученых к 2100 году кислотность океана составит 150%, что приведет к уничтожению всех моллюсков и планктонов.
    </h4>
    <h4>9. Нехватка пресной воды. Проблемы перенаселения, а также загрязнения водных ресурсов ставят под вопрос доступность пресной воды для всех людей на планете. Человек еще не придумал технологию, которая могла бы переработать соленую воду в пресную воду, поэтому проблема нехватки пресной воды стоит достаточно остро.
    </h4>
    
    <li><a href="/quiz.html">перейти к 2</a></li>
</body>
</html>
